<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="item:publish">
        <patch:attribute name="type">Sitecore.Support.Publishing.Service.Client.Commands.Publish, Sitecore.Support.38955</patch:attribute>
      </command>
      <command name="item:publishnow">
        <patch:attribute name="type">Sitecore.Support.Publishing.Service.Client.Commands.Publish, Sitecore.Support.38955</patch:attribute>
      </command>
      <command name="system:publish">
        <patch:attribute name="type">Sitecore.Support.Publishing.Service.Client.Commands.PublishSite, Sitecore.Support.38955</patch:attribute>
      </command>
    </commands>
  </sitecore>
</configuration>